<div class="main-wrapper">
  <h1>Some awesome n
    Currency Converter</h1>
  <header>
  <ul *ngFor="let keyvalue of initalRates | keyvalue">
    <li>{{ keyvalue.key }} : {{ keyvalue.value }}</li>
  </ul>
  </header>
  <section>
  <h2>Welcome to currency converter</h2>
  <div class="currency-block">
  <currency-input
    title="From currency"
    [selectedCurrency]="currencyOptions.from.currency"
    [currencyAmount]="currencyOptions.from.amount"
    [currencies]="supportedCurrencies"
    (currencyAmountChange)="handleAmountChange($event, 'from')"
    (selectedCurrencyChange)="handleCurrencyChange($event, 'from')"
  ></currency-input>

  <currency-input
    title="To currency"
    [selectedCurrency]="currencyOptions.to.currency"
    [currencyAmount]="currencyOptions.to.amount"
    [currencies]="supportedCurrencies"
    (currencyAmountChange)="handleAmountChange($event, 'to')"
    (selectedCurrencyChange)="handleCurrencyChange($event, 'to')"
  ></currency-input>
  </div>
  </section>
</div>
